<% if logged_in? %>
  <p>ログイン完了ユーザー:<%= current_user.name %></p>

<h1>タスク一覧</h1>

<ul>
  <% @tasks.each do |task| %>
  <li><%= link_to task.id, task %> : <%= task.content %>　&gt;<%= task.status %></li>
  <% end %>
</ul>

<ul class="navbar-nav">
  <li class="nav-item"><%= link_to '新規タスクの作成', new_task_path %>
    <li class="nav-item"><%= link_to 'Logout', logout_path, method: :delete %></li>
</ul>

<% else %>
  <div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the tasklist</h1>
    <ul class="navbar-nav">
    <li class="nav-item"><%= link_to "Signup",signup_path,class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "Login",login_path,class: "nav-link" %></li>
    </ul>
  </div>      
  </div>
<% end %>